@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.TimeEntries.Emails.MarketerTimeEntryEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.TimeEntryApproved(Model)
    @Model.Footer(SectionType.Marketer, Model.MarketingOrganizationName)

</div>