@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Contracts.Emails.AgencyOwnerContractEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.ContractCreated(Model)

    @Model.Footer(SectionType.AgencyOwner, Model.ProjectManagerOrganizationName)

</div>