@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Invoices.Emails.AgencyOwnerInvoiceEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()

    @Model.InvoiceCreated(Model)

    @Model.Footer(SectionType.AgencyOwner, Model.ProjectManagerOrganizationName)

</div>