@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Projects.Emails.ProviderAgencyOwnerProjectEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.ProjectEnded(Model)
    @Model.Footer(SectionType.AgencyOwner, Model.ProjectManagerOrganizationName)

</div>