@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Stories.Emails.AgencyOwnerStoryEmail
@{
    Layout = null;
}

<div>
    
    @Model.Introduction()

    @Model.StoryCompleted( Model)
    @Model.Footer(SectionType.AgencyOwner, Model.ProjectManagerOrganizationName)

</div>