@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Invoices.Emails.AccountManagerInvoiceEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.InvoiceCreated( Model)
    @Model.Footer(SectionType.AccountManager, Model.AccountManagerOrganizationName)

</div>