@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Projects.Emails.AccountManagerProjectEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.ProjectPaused(Model)
    @Model.Footer(SectionType.AccountManager, Model.AccountManagerOrganizationName)

</div>