@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Orders.Emails.AccountManagerWorkOrderEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.WorkOrderCreated(Model)
    @Model.Footer(SectionType.AccountManager, Model.AccountManagerOrganizationName)

</div>