@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Contracts.Emails.ContractorContractEmail
@{
    Layout = null;
}

<div>
   
    @Model.Introduction()
    @Model.ContractEnded(Model)
    @Model.Footer(SectionType.Contractor, Model.ContractorOrganizationName)

</div>