@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Candidates.Emails.RecruiterCandidateEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    <p>
        Your candidate was promoted
    </p>
    @Model.Footer(SectionType.Recruiter, Model.RecruiterOrganizationName)

</div>