@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Proposals.Emails.CustomerProposalEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()

    @Model.ProposalAccepted(Model)
    @Model.Footer(SectionType.Customer, Model.CustomerOrganizationName)

</div>