@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Orders.Emails.CustomerWorkOrderEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.WorkOrderCreated(Model)
    @Model.Footer(SectionType.Customer, Model.AccountManagerOrganizationName)

</div>