@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Contracts.Emails.ProjectManagerContractEmail
@{
    Layout = null;
}

<div>
    
    @Model.Introduction()

    @Model.ContractCreated(Model)


    @Model.Footer(SectionType.ProjectManager, Model.ProjectManagerOrganizationName)

</div>