@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Stories.Emails.ProjectManagerStoryEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.StoryCreated(Model)
    @Model.Footer(SectionType.ProjectManager, Model.ProjectManagerOrganizationName)
</div>