@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Candidates.Emails.RecruitingAgencyOwnerCandidateEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    <p>
        Your candidate was approved.
    </p>
  
    @Model.Footer(SectionType.RecruitingAgencyOwner, Model.RecruiterOrganizationName)
</div>

