@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.Candidates.Emails.RecruitingAgencyOwnerCandidateEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    @Model.CandidateRejected(Model)
    @Model.Footer(SectionType.RecruitingAgencyOwner, Model.RecruiterOrganizationName)
</div>

