<div class="left-col" style="border-right:1px solid">
    <div class="menu-list">
        <ul>
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/organization">My Organizations</a>
            </li>

            <li>
                <a href="/profile/password">Change Password</a>
            </li>
            <li>
                <a href="/profile/email">Change Email</a>
            </li>
            @*<li>
                <a href="/communication">Communitcation</a>
            </li>
            <li>
                <a href="/security">Security</a>
            </li>
            <li>
                <a href="/integrations">Integrations</a>
            </li>
            <li>
                <a href="/finances">My Finances</a>
            </li>*@

        </ul>
    </div>
</div>