$mobile: 480px;

$tablet-start: 799px;

$desktop-small: 1024px; 

$defaultFontSize: 16;


$white: #ffffff; 
$red: #C62828; 
$reddark: #9e0000; 

$black: #111; 
$darkgray: #444;
$gray: #777; 


$footer-background-color: $black; 
$footer-padding: 3rem 1.5rem 3rem;