<main class="two-cols-nav">
        <partial name="_SideNav" />
    <div class="right-col is-flex">
        <div class="box has-gap-left has-gap-right is-borderless is-shadowless">
            <div class="page-heading">
                <h1 class="page-title">Security Settings</h1>
            </div>
        </div>
    </div>
</main>

