<main class="two-cols-nav">
        <partial name="_SideNav" />
    <div class="right-col is-flex">
        <div class="box is-borderless is-shadowless">
            <div class="page-heading">
                <h1 class="page-title">My Finances</h1>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td>
                            Company
                        </td>
                        <td>
                            AO Stream
                        </td>
                        <td>
                            PO Stream
                        </td>
                        <td>
                            MA Stream
                        </td>
                        <td>
                            PM Stream
                        </td>
                        <td>
                            RE Stream
                        </td>
                        <td>
                            AM Stream
                        </td>
                        <td>
                            Totals
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </span>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="image is-48x48">
                                <img src="~/images/profile_pic.png" class=" is-rounded" />
                            </div>
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                        <td>
                            $0
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

