@model AgencyPro.Core.ForgotPassword.ViewModels.ForgotPasswordViewModel


<main class="two-cols-membership">
    <div class="left-col fullbg-matte"></div>
    <div class="right-col is-flex is-v-centered">

        <div class="box is-fullwidth has-gap-left has-gap-right is-borderless is-shadowless">
            <div class="page-heading">
                <h1 class="page-title">Reset Password</h1>
                <p class="text-thinner">
                    Enter your email to reset your password.
                    You will receive an email with instructions on how to reset your password. If you are
                    experiencing
                    problems resetting your password contact us or send us an email
                </p>
            </div>
            <partial name="_ValidationSummary" />

            <form asp-route="ForgotPassword">
                <div class="field">
                    <label asp-for="Email" class="label">Email</label>
                    <div class="control has-icons-left">
                        <input asp-for="Email" class="input validate" placeholder="Email" autofocus="" type="email" data-val="true"
                               data-val-required="The Email field is required." id="Email" name="Email" value="">
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-primary is-fullwidth">
                        Reset Password
                    </button>
                </div>
                <div class="field">
                    <p class="is-size-7">
                        <a href="/account/login">
                            Sign In
                        </a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</main>