@model AgencyPro.Core.ResetPassword.ViewModels.ResetPasswordViewModel


<main class="two-cols-membership">
    <div class="left-col fullbg-matte"></div>
    <div class="right-col is-flex is-v-centered">
        <div class="box is-fullwidth has-gap-left has-gap-right is-borderless is-shadowless">
            <div class="page-heading">
                <h5 class="page-title">Reset your password</h5>
            </div>
            @if (Model.Code != null)
            {
                <partial name="_ValidationSummary" />
                <form asp-route="Login">
                    <div class="field">
                        <label asp-for="Email" class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input validate" asp-for="Email" placeholder="Email" autofocus="" type="text"
                                   data-val="true" data-val-required="The Email field is required." id="Email"
                                   name="Email" value="">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input asp-for="Password" type="password" class="input  validate" placeholder="Password" autocomplete="off"
                                   data-val="true" data-val-required="The Password field is required." id="Password"
                                   name="Password">

                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ConfirmPassword" class="label">Confirm Password</label>
                        <div class="control has-icons-left">
                            <input asp-for="ConfirmPassword" type="password" class="input  validate" placeholder="ConfirmPassword" autocomplete="off"
                                   data-val="true" data-val-required="The ConfirmPassword field is required." id="ConfirmPassword"
                                   name="ConfirmPassword">

                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <button class="button is-primary is-fullwidth" name="button" value="resetPassword">Reset Password</button>
                    </div>
                </form>
            }
            else
            {
                <p> code is required to reset password</p>
            }
        </div>

    </div>
</main>
