@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.ForgotPassword.Emails.ForgotPasswordEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()

    <a href="@Model.CallbackUrl">Click Here</a> to reset your password.

    @Model.Footer(SectionType.OrganizationPerson)

</div>