@using IdeaFortune.Mailer
@using IdeaFortune.Mailer.TagHelpers
@model IdeaFortune.Core.ResetPassword.Emails.ResetPasswordEmail
@{
    Layout = null;
}

<div>
    @Model.Introduction()
    
    <p>
        Your password was successfully reset.
    </p>

    @Model.Footer(SectionType.OrganizationPerson)

</div>